<body>
	<div class= "Welcome">
		<form style="width: 300px; text-align: center;">
			<h6 style="color: #fff; font-family: cursive; font-size: 16px;"> This webapp was developed by © Ahmed Hady Neamat Allah Mohamed </h6>
			<h6 style="color: #fff; font-family: cursive; font-size: 16px;"> Modern Programing Technologies Final Project </h6>

			<%= link_to '<button type="button" class="Button_Style">Back</button>'.html_safe, root_path %>
		</form>
	</div>
</body>