<!DOCTYPE html>
<html>
  <body>
    <div class= "Welcome">
      <form>
        <%= link_to '<button type="button" class="Button_Style">Sgin in</button>'.html_safe, "users/sign_in" %>

        <%= link_to '<button type="button" class="Button_Style">Sgin up</button>'.html_safe, "users/sign_up" %>

        <%= link_to '<button type="button" class="Button_Style">About</button>'.html_safe, "/welcome_page/about" %>
      </form>
    </div>
  </body>
</html>

<!--  <input class="Button_Style" type="button" value= "Sgin in" action = "users/sign_in">
        <input class="Button_Style" type="button" value= "Sgin up" action="users/sign_up">

        <input class="Button_Style" type="button" value= "About" onclick="insert(4);"> -->