// Place all the styles related to the expense controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.HomePage { 
  margin: 0;
  position: absolute;
  background: image-url("Background2.jpg");
  width: 1024px;
  height: 520px;
  top: 50%;  left: 50%; 
  ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50px;
  -webkit-box-shadow: 11px 10px 54px -25px rgba(0,0,0,0.85);
  -moz-box-shadow: 11px 10px 54px -25px rgba(0,0,0,0.85);
  box-shadow: 11px 10px 54px -25px rgba(0,0,0,0.85);
}

.LogoStyle{
  width: 145px;
  height: 150px;
  position: absolute;
  top: -140px;  left: -650px; 
}

.linkStyle2{
	font-family: Cursive;
	width: 100px;
	color: #fff;
	text-decoration: none;
	margin: 0px 10px;
}

.linkStyle2:hover{
	color: #ffff66;
}

.UserLinks{
	display: inline;
	width: 330px;
	position: absolute;
  top: -101px; left: 5px; 
}

h1{
	position: absolute;
  top: -10px;
  left: -620px; 
  color: #fff;
  font-size: 50px;
  font-family: Cursive;
}

.ButtonStyle3{
	position: absolute;
  width: 970px; height: 70px;
	top: 290px; left: -635px;
}

.Label{
  color: #fff;
  font-family: Cursive;
  font-size: 18px;
  margin: 10px 70px;
  display: inline-block;
}

.Labels{
  position: absolute;
  width: 850px;
  top: 220px; left: -560px;
}
.statement{
  position: absolute;
  width: 850px;
  top: 110px; left: -1110px;
  opacity: 0.8;
}
.Decore{
  position: relative;
  margin: 10px 35px;
  border-radius: 20px;
  height: 75px;
  width: 200px;
  line-height: 100px;
  display: inline-block;
  background: #000;
  filter: blur(5px);
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.85);
  opacity: 0.6;
}

.LabelSt{
  position: relative;
  color: #ffff00;
  font-family: Cursive;
  font-size: 30px;
  margin: 10px 35px;
  border-radius: 20px;
  height: 100px;
  width: 200px;
  line-height: 75px;
  text-align: center;
  display: inline-block;
}

.form-inputs-exp{
  position: absolute;
  width: 400px;
  top: 30px;
  left: -575px;
  color: #fff;
  font-family: Cursive;
  font-size: 18px;
}

.input-Details{
  resize: none;
  width: 100%;
  height: 100px;
  margin: 0px 10px 10px 10px;
  border: none;
}

.input-Date{
  width: 100px;
  height: 30px;
  margin: 0px 0px 10px 10px;
  border: none;
}

.DirectoryButtons-new{
  width: 300px; height: 20px;
  position: absolute;
  top: 0px; left: 550px;
}