// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Finantial-Statment{
	position: absolute;
	
	width: 500px; height: 350px;
	color: #fff;
	font-family: 'Kalam', cursive;
	text-align: left;
	top: 150px; left: 50px;
  overflow:auto;
}

h4{
  font-size: 16px;
  margin: 3px 70px;
  text-align: left;
}

.input-Date2{
  width: 105.99px;
  height: 25px;
  margin: 0px 0px 10px 10px;
  border: none;
}

.input-text-pl{
	width: 100%;
	height: 25px;
	margin: 0px 5px 5px 5px;
	border: none;
}

.form-inputs-pl{
  position: absolute;
  width: 400px;
  left: -575px;
  top: 10px;
  color: #fff;
  font-family: 'Kalam', cursive;
  font-size: 16px;
}
.DirectoryButtons-pl{
  width: 300px; height: 20px;
  position: absolute;
  top: 50px; left: 0px;
}

.DirectoryButtons-pl-in{
  width: 300px; height: 20px;
  position: absolute;
  top: 200px; left: 650px;
}

.alert-1{
	color: #ff3300;
	position: absolute;
	left: 0px; top: 300px;
	font-family: 'Kalam', cursive;
	font-size: 20px;
	text-shadow: 0px 0px 5px red;
	width: 300px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

