// Place all the styles related to the WelcomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #004668
}

.Welcome { 
  margin: 0;
  position: absolute;
  background: image-url("Background.jpg");
  width: 1024px;
  height: 520px;
  top: 50%;  left: 50%; 
  ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50px;
  -webkit-box-shadow: 11px 10px 54px -25px rgba(0,0,0,0.85);
  -moz-box-shadow: 11px 10px 54px -25px rgba(0,0,0,0.85);
  box-shadow: 11px 10px 54px -25px rgba(0,0,0,0.85);
}
 
.Button_Style{
	border-radius: 10px;
	width: 300px;
	height: 50px;
	margin: 10px 10px 10px 10px;
	background-color: #000;
	color: #fff;
	font-family: Cursive;
	opacity:0.6;
	border: none;
}

form{
	position: absolute;
	top: 25%;  left: 65%; 
}

.Button_Style:hover{
	opacity: 1;
  cursor: pointer;
  background: #33ccff;
  color: #002633;
}